@page
@*@using Microsoft.AspNetCore.Identity;
    @using SnackisDB.Models.Identity;*@

@model Chatt_test.Pages.IndexModel

@{
}

@foreach (var forum in Model.Forums)
{
    @if (!forum.Subforums.Any())
    {
        break;
    }
    <div class="container-fluid rounded bg-secondary w-75">
        <div class="container w-75 bg-dark text-light rounded mt-3 pb-1">

            <div class="col forum-main">
                <h1>@forum.Name</h1>
                <table class="table table-borderless table-hover table-striped table-dark">
                    <thead class="">
                        <tr>

                            <td class="w-50" style="min-width: 50%; max-width: 50%">
                                <div class="ps-3">Forum</div>
                            </td>

                            <td class="w-50" style="min-width: 50%; max-width: 50%">
                                <div class="text-center">Senaste inlägg</div>
                            </td>
                        </tr>
                    </thead>
                    @foreach (var subforum in forum.Subforums)
                    {

                        int threads = subforum.Threads.Count;
                        int posts = subforum.Threads.Sum(x => x.Replies.Count);
                        var lastReply = subforum.LastReply;
                        <tr>
                            <td class="w-50"style="min-width: 50%; max-width: 50%">
                                <div class="ps-3"><a href="@Url.Content($"~/Subforum/{subforum.ID}")">@subforum.Name</a></div>
                                <div class="ps-3 font-monospace" style="font-size:75%;">@threads ämnen &bull; @posts inlägg</div>
                            </td>

                            <td class="w-50" style="min-width: 50%; max-width: 50%">
                                @if (lastReply is null)
                                {

                                    <div class="text-end pe-3">Inga inlägg</div>
                                }
                                else
                                {
                                    <div class="text-decoration-underline text-end pe-3 text-truncate">@lastReply.ParentThread.Title</div>
                                    <div class="font-monospace text-end pe-3" style="font-size:75%;">av @lastReply.Poster.UserName @lastReply.DaysAgo()</div>
                                }
                            </td>
                        </tr>

                    }
                </table>

            </div>

        </div>
    </div>
}
