@page "{id:int?}"

@model SnackisForum.Pages.SubforumModel
@{
    ViewData["Title"] = Model.Subforum != null ? Model.Subforum.Name : "Fel";
}
@if (Model.Subforum is null)
{
    <div class="text-center text-white h1">Felaktigt delforum</div>
}
else
{

    <div class="container-fluid rounded bg-secondary">
        <div class="container w-75 bg-dark text-light rounded mt-3 pb-1">

            <partial name="_CurrentLocation" model="Model.Subforum" />
            <div class="col subforum-main">
                <div class="row">
                    <div class="col">

                        <h1 class="pt-3 ps-3">@Model.Subforum.Name</h1>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button class="btn btn-dark btn-outline-secondary h-50 mt-4 me-4" onclick="window.location.href='/createthread/@Model.Subforum.ID'">Skapa tråd</button>
                    </div>
                </div>
                <table class="table table-borderless table-hover table-striped table-dark">
                    <thead class="">
                        <tr>

                            <td class="w-50" style="min-width: 50%; max-width: 50%">
                                <div class="ps-3">Tråd</div>
                            </td>

                            <td class="w-25" style="min-width: 25%; max-width: 25%">
                            </td>

                            <td class="w-25" style="min-width: 25%; max-width: 25%">
                                <div class="text-center">Senaste inlägg</div>
                            </td>
                        </tr>
                    </thead>
                    @if (Model.Subforum.Threads.Any())
                    {
                        var newList = Model.Subforum.Threads.Select(thread => new
                        {
                            thread,
                            lastReply = thread.Replies.OrderByDescending(reply => reply.DatePosted).FirstOrDefault()
                        }).OrderByDescending(x => x.lastReply.DatePosted)
                            .ToList();
                        @foreach (var obj in newList)
                        {

                            int posts = obj.thread.Replies.Count;
                            var thread = obj.thread;
                            var lastReply = obj.lastReply;
                            <tr>
                                <td class="w-50" style="min-width: 50%; max-width: 50%">
                                    <div class="ps-3"><a href="@Url.Content($"~/Thread/{thread.ID}")">@thread.Title</a></div>

                                    <div class="ps-3 font-monospace" style="font-size:75%;">@thread.CreatedBy.UserName</div>
                                </td>

                                <td class="w-25" style="min-width: 50%; max-width: 50%">
                                    <div class="text-end">@thread.Views visningar</div>
                                    <div class="text-end">@thread.Replies.Count svar</div>
                                </td>
                                <td class="w-50" style="min-width: 50%; max-width: 50%">
                                    @if (lastReply is null)
                                    {

                                        <div class="text-end pe-3">Inga inlägg</div>
                                    }
                                    else
                                    {//
                                     //
                                     //
                                        <div class="row">
                                            <div class="col">
                                                <div class="font-monospace text-end" style="font-size:75%;"> @lastReply.DaysAgo()</div>
                                                <div class="font-monospace text-end" style="font-size:75%;">av @lastReply.Author.UserName</div>
                                            </div>
                                            <div class="col me-4" style="max-width:3rem">
                                                <span class="material-icons-outlined pointer go-to-thread" id="" style="z-index:1" data-post-id="@lastReply.ID" data-thread-id="@thread.ID">
                                                    arrow_right
                                                </span>
                                            </div>
                                        </div>
                                    }
                                </td>
                            </tr>

                        }
                    }
                    else
                    {
                        <tr>
                            <td class="w-50" style="min-width: 50%; max-width: 50%">
                                <div class="ps-3">Inga trådar!</div>
                            </td>

                            <td class="w-25" style="min-width: 50%; max-width: 50%">
                            </td>
                            <td class="w-50" style="min-width: 50%; max-width: 50%">
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}