@using SnackisDB.Models;
@inject SnackisForum.Injects.UserProfile userProfile;
@model Chat


@{

    string chattingWith = Model.Participant1 == userProfile.CurrentUser ? Model.Participant2.UserName : Model.Participant1.UserName;
}

<div class="container pt-1 ">
    <div class="row mb-5 pb-5">
        @foreach (var message in Model.Messages.OrderBy(message => message.DateSent))
        {
            bool isReciever = message.Sender != userProfile.Username;
            if (isReciever)
            {
                <div class="border border-secondary text-white bg-dark row w-100 mt-2">

                    <div class="fw-bold border-bottom pb-1">@message.MessageTitle (@message.DateSent.ToShortDateString(), @message.DateSent.ToShortTimeString())</div>
                    <div class="text-break pt-1 pb-1">@message.MessageBody</div>

                    <div class="border-top border-dark">Från @message.Sender</div>
                </div>
            }
            else
            {
                <div class="border border-secondary text-white bg-dark row w-100 mt-2">

                    <div class="fw-bold border-bottom pb-1">@message.MessageTitle (@message.DateSent.ToShortDateString(), @message.DateSent.ToShortTimeString())</div>
                    <div class="text-break pt-1 pb-1">@message.MessageBody</div>

                    <div class="border-top border-dark">Skickat av dig</div>
                </div>
            }
        }
    </div>

    <div class="row align-content-end d-block " style="">
        <form class="px-4 py-3 position-sticky" method="post">
            <div class="form-group">

                <div class="d-flex align-content-end justify-content-end w-100 pb-2">
                    <input type="text" name="title" placeholder="Titel" class="w-100 bg-dark text-white form-control" />
                </div>
            </div>
            <div class="form-group">

                <div class="d-flex align-content-end justify-content-end">
                    <textarea name="message" placeholder="Meddelande" class="w-100 bg-dark text-white form-control" rows="5"></textarea>
                </div>

                <div class="">
                    <input type="hidden" value="@chattingWith" name="recipient" style="" />
                </div>
            </div>

            <div class="d-flex align-content-end justify-content-center w-100 pt-2">
                <button type="submit" class="btn btn-success">Svara</button>
            </div>
        </form>
    </div>
</div>


