@using SnackisDB.Models;
@inject SnackisForum.Injects.UserProfile userProfile;
@model List<Message>
<div class="container pt-5">
    @foreach (var message in Model.OrderBy(message => message.DateSent))
    {
        bool isReciever = message.Reciever == userProfile.Username;
        if (isReciever)
        {
    <div class="border border-secondary text-white bg-dark row w-100 mt-2">

        <div class="fw-bold border-bottom pb-1">@message.MessageTitle (@message.DateSent.ToShortDateString(), @message.DateSent.ToShortTimeString())</div>
        <div class="text-break pt-1 pb-1">@message.MessageBody</div>

        <div class="border-top border-dark">Från @message.Sender</div>
    </div>
        }
        else
        {
<div class="border border-secondary text-white bg-dark row w-100 mt-2">

    <div class="fw-bold border-bottom pb-1">@message.MessageTitle (@message.DateSent.ToShortDateString(), @message.DateSent.ToShortTimeString())</div>
    <div class="text-break pt-1 pb-1">@message.MessageBody</div>

    <div class="border-top border-dark">Skickat av dig</div>
</div>
        }
    }
</div>