@page
@model SnackisForum.Pages.Admin.ReportsModel
@{
    ViewData["Title"] = "Anmälningar";
    Layout = "_AdminLayout";
}

<div class="row" style="min-height:40rem;">
    <partial name="_AdminSidePanel" />

    <div class="col">
        <div class="fs-1">
            Anmälningnar
        </div>
        <table class="table table-borderless table-hover table-striped table-dark">
            <thead class="">
                <tr>

                    <td>
                        Anmälare

                    </td>
                    <td class="">
                        Datum
                    </td>

                    <td class="">
                        Tråd/Inlägg
                    </td>
                    <td>
                        Titel
                    </td>
                    <td class="">
                        Info
                    </td>
                    <td>
                        Hanterad
                    </td>

                    <td>
                        Borttagen
                    </td>

                    <td>
                        Ta bort
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var report in Model.Reports)
                {
                    bool reportIsThread = report.ReportedReply is null;
                <tr>
                    <td class="" style="">
                        @report.Reporter.UserName
                    </td>
                    <td class="" style="">
                        @report.DateReported.ToString("dd/MM/yy HH:mm")
                    </td>

                    <td>
                        @{
                            @Html.Raw(reportIsThread ? $"Tråd" : $"Inlägg")
                        }
                    </td>
                    <td>
                        @{
                            @Html.Raw(reportIsThread ? $"{report.ReportedThread.Title}" : $"{report.ReportedReply.Title}")}
                    </td>
                    <td>

                        @if (reportIsThread)
                        {

                            <a href="@Url.Content($"~/treeview?nodeid=thread-{report.ReportedThread.ID}")" target="_blank" style="text-decoration:none;">
                                <div class=" material-icons-outlined noselect">
                                    info
                                </div>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Content($"~/treeview?nodeid=reply-{report.ReportedReply.ID}")" target="_blank" style="text-decoration:none;">
                                <div class=" material-icons-outlined noselect">
                                    info
                                </div>
                            </a>
                        }
                    </td>
                    <td>
                        @if (report.ActionTaken)
                        {
                            <span class="material-icons-outlined text-success noselect">
                                done
                            </span>
                        }
                        else
                        {
                            <span class="material-icons-outlined text-danger noselect">
                                close
                            </span>
                        }
                    </td>
                    <td>
                        @if (report.Removed)
                        {
                            <span class="material-icons-outlined text-success noselect">
                                done
                            </span>
                        }
                        else
                        {
                            <span class="material-icons-outlined text-danger noselect">
                                close
                            </span>
                        }
                    </td>

                    <td>
                        @if (!report.ActionTaken)
                {

                        <div class="d-flex">
                            @{
                                string type = reportIsThread ? "thread" : "reply";
                                int reportedID = reportIsThread ? report.ReportedThread.ID : report.ReportedReply.ID;
                            }
                            <div class="material-icons-outlined text-success noselect clickable me-2 reported-click" data-report-type="@type" data-id="@reportedID" data-take-action="true" data-report-id="@report.ID">
                                done
                            </div>


                            <div class="material-icons-outlined text-danger noselect clickable me-2 reported-click" data-report-type="@type" data-id="@reportedID" data-take-action="false" data-report-id="@report.ID">
                                close
                            </div>
                        </div>

                                }
                    </td>
                </tr>

                                }
            </tbody>
        </table>


    </div>
</div>